black
einops
flake8
hydra-core
imageio
imageio-ffmpeg
ipdb
ipython
isort
jupyter
jupyter_black
jupyter_nbextensions_configurator
jupyterlab
kaleido
matplotlib
numpy==1.26.4
omegaconf
opencv-python
plotly
scikit-learn
scipy
timm
trimesh
tqdm
iopath
pandas
wandb
submitit
accelerate==0.32.1
gradio==4.44.1
pydantic==2.10.6
gdown